
  .dispatch h1 {
    margin: 20px;
    font-size: 60px;
  }
  
  .allDeliveries {
    width: 100vw;
    height: 100vh;
    margin: 10px;
    border-radius: 5px;
    display: flex;
  }

  .availableDeliveries {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 500px;
    min-width: 475px;
    padding: 15px;
    border: 2px solid black;
    overflow: scroll;
    margin-left: 20px;
  }

  .tableHead {
    text-align: left;
    padding-left: 8px;
  }

  #dispatchOrder, .tableHead {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
  }
  
  .buttons {
    display: flex;
  }
  button {
    margin: auto 5px;
  }

  .allDriversContainer {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }

  #driverContainer {
    width: 350px;
    height: 200px;
    border: 2px solid black;
    margin-left:20px;
    overflow-y: scroll;
  }

  h3.dispatchName {
    margin: 15px 10px 0 10px;
    border-bottom: 2px solid black;
  }

  .dropArea {
    display: flex;
    flex-direction: column;
  }