.home {
  height: 100vh;
  background-image: url(../assets/semi-truck-transparent-background.png);
  background-repeat: no-repeat;
  background-position: center;
}

.home h1 {
  font-size: 60px;
  margin: 20px;
}
