.orders h1 {
  font-size: 60px;
  margin: 20px;
}

.allOrders {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 500px;
  min-width: 475px;
  max-width: 80vw;
  padding: 15px;
  border: 2px solid black;
  overflow: scroll;
  margin: 20px auto;
}

.ordersHead {
  height: 50px;
  text-align: left;
}
/* .startDate {
  width: 100px;
}

.inputs {
  display: flex;
} */



